[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
django-rest-swagger = "*"
coverage = "*"
django-coverage-plugin = "*"
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
django-environ = "*"
django-ckeditor = "*"
django-model-utils = "*"

[requires]
python_version = "3.7"
